@font-face {
    font-family: fonty;
    src: url(Fonts/Main.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: white;
}

header {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px 0px;
}

header h1 {
    grid-column: 2/3;
    color: white;
    font-family: fonty;
    font-size: 1.8vw;
    justify-self: center;
}

.right {
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 5%;
}

.right p {
    margin-bottom: 1%;
}


/*
h1 {
    text-align: center;
    padding-top: 1%;
    font-size: 200%;

}
*/

nav {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    border-bottom: 8%;
    border-bottom-color: dimgrey;
}

.links {
    justify-self: center;
    font-size: 1.5vw;
    text-align: center;
}

.links a {
    text-decoration: none;
    margin: 0px 5%;
}

.logo {
    width: 80%;
   
}

.cart {
    display: flex;

}

.cart img {
    width: 50%;
    margin: 0px 3%;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: fonty;
}

.epic {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    font-size: 4vw;
    text-align: center;
}

.Sright, .Sleft {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: gold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;    
}

.Sleft {
    grid-column: 1/2;
    background-color: lightskyblue;    
}

.Wbucket {
    width: 100%;
    grid-column: 1/2;
}

.BBUcket {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
}

.GCAp {
    width: 100%;
    grid-column: 2/3;
}

.WCap {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
}